
<ul>

    <% beersFromApi.forEach(beer => { %>
        <div>
            <img src="<%= beer.image_url %>" alt="beer image" style="height:200px">
            <%- beer.name %>
            <%- beer.description %>
            <%- beer.tagline %>
        </div>
    <% }); %> 
</ul>


    
